body {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    margin: 0px;
}

p {
    margin-bottom: 40px;
    font-size: .8em;
}

.logo {
    width: 15%;
    margin: 70px 0px 30px 0px;
}

.text-one {
    font-weight: 100;
    font-size: 1.5em;
}

.dashboard-img {
    max-width: 90%;
}

input {
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 20px;
    padding: 15px 120px 15px 30px;
    margin-bottom: 10px;
    text-align: left;
}

::placeholder {
    color: hsl(223, 100%, 88%);
}

button {
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 20px;
    color: white;
    padding: 15px 112px;
    background-color: hsl(223, 87%, 63%);
    margin-bottom: 75px;
}

#errorMessage {
    color: red;
    font-size: 1em;
}